.App{
  display:block;
  width:100vw;
  height:100vh;
  align-items: center;
  display: flex;
  justify-content: center;
  position: fixed;
}

.circle{
  position: absolute;
  z-index: -1;
  left: 40%;
  top:55%;
  height:50%;
  width:70%;
  border-radius: 50%;
  background-color: rgb(95, 88, 229);
  filter: blur(2px);
}

.git{
  position: absolute;
  top:0;
  right:0;
  cursor: pointer;
  margin: 5px;
}

a{
  all:unset;
}

@media only screen and (max-width:950px) and (min-width:750px)
{
  .circle{
    height: 40%;
  }
}

@media only screen and (max-width:750px)
{
  .circle{
    height: 100px;
    width:90%;
    top:auto;
    left:auto;
    bottom: 0%;
  }

  .App{
    height: auto;
    position: relative;
  }
}

@media only screen and (max-width:320px)
{
  *{
    font-size: 13px;
  }

  button{
    font-size: 10px;
  }

  input{
    max-height:15px;
  }
}